<% if cart.empty? %>
  <div id="cart-wrapper">
    <li id="empty-cart">
      <div class="col s12 m8 l6">
        <div class="card-panel grey lighten-5">
          <div class="row valign-wrapper">
            <div class="col s12 center">
              <span><%= t ".cart_empty" %></span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </div>
<% else %>
  <div id="cart-wrapper">
    <% cart.each do |key, value| %>
        <li class="cart-item">
        <div class="col s12 m8 l6">
          <div class="card-panel grey lighten-5">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="<%= value["image_url"] %>" alt="" class="circle responsive-img">
              </div>
              <div class="col s10">
                <span class="black-text cart-desc"><%= value["name"] %></span>
                <span class="badge right grey white-text">
                <%= value["quantity"] %> <%= t ".items" %>
              </span>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="divider"></li>
    <% end %>
    <li>
      <div class="col s12 m8 l6">
        <div class="card-pane checkout-cart">
          <div class="row valign-wrapper">
            <div class="col s12 center">
              <%= link_to t(".index_cart"), cart_path %>
            </div>
          </div>
        </div>
      </div>
    </li>
  </div>
<% end %>
