<div class="row">
  <a class="waves-effect waves-light btn" href="#modal1"><%= t".add" %></a>
  <%= render "add_category" %>
    <table class="striped bordered highlight">
      <thead>
      <tr>
        <th class="center-align">
          <%= t ".number" %>
        </th>
        <th class="center-align">
          <%= t ".name" %>
        </th>
        <th class="center-align">
          <%= t ".description" %>
        </th>
        <th class="center-align">
          <%= t".created_at" %>
        </th>
        <th class="center-align">
          <%= t ".option" %>
        </th>
      </tr>
      </thead>
      <tbody>
      <%= render @categories %>
      </tbody>
    </table>
    <%= paginate @categories %>
</div>
