<tr>
  <td class="center-align">
    <%= index_for product_counter, @products.current_page, params[:limit].to_i %>
  </td>
  <td class="center-align">
    <%= product.product_code %>
  </td>
  <td class="center-align"><%= product.name %></td>
  <% if product.category.depth == 0 %>
    <td class="center-align"><%= product.category.name %></td>
  <% else %>
    <td class="center-align">
      <%= "-.-" * product.category.depth %><%= product.category.name %>
    </td>
  <% end %>
  <td class="center-align"><%= product.price %></td>
  <td class="center-align">
    <%= product.in_stock > 0 ? product.in_stock : t(".not_available") %>
  </td>
  <td class="center-align">
    <%= link_to "#modal2-#{product.id}",
      class: "btn-flat waves-effect waves-teal tooltipped",
      data: {tooltip: I18n.t(".edit")}, id: product.id do %>
      <i class="material-icons">mode_edit</i>
      <% end %>
    <%= render "edit_product", product: product %>
    <%= link_to admin_product_path(product),
      class: "btn-flat waves-effect waves-teal tooltipped",
      id: product.id, data: {tooltip: I18n.t("admin.categories.index.view")} do %>
      <i class="material-icons">visibility</i>
      <% end %>
    <%= link_to admin_product_path(product), method: :delete,
      class: "btn-flat waves-effect waves-teal tooltipped",
      data: {tooltip: I18n.t("admin.categories.index.delete"),
      confirm: t(".sure_delete")}, remote: true do %>
      <i class="material-icons">delete</i>
      <% end %>
  </td>
</tr>
