<div class="row tab">
  <a class="waves-effect waves-light btn" href="#modal1"><%= t".add" %></a>
  <%= render "form" %>
  <table class="striped bordered highlight">
    <thead>
      <tr>
        <th class="center-align">
          <%= t ".number" %>
        </th>
        <th class="center-align">
          <%= t ".cate_name" %>
        </th>
        <th class="center-align">
          <%= t ".name" %>
        </th>
        <th class="center-align">
          <%= t".price" %>
        </th>
        <th class="center-align">
          <%= t ".in_stock" %>
        </th>
        <th class="center-align">
          <%= t ".action" %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @products %>
    </tbody>
  </table>
  <%= paginate @products %>
<div>

