<% provide :title, t(".detail_product") %>

<h2><%= t(".detail_product") %></h2>
<table class="table">
  <thead>
    <th><%= t ".category" %></th>
    <th><%= t ".product_name" %></th>
    <th><%= t ".code" %></th>
    <th><%= t ".price" %></th>
    <th><%= t ".in_stock" %></th>
    <th><%= t ".thumbnail" %></th>
  </thead>
  <tr>
    <td><%= @product.category.name %></td>
    <td><%= @product.name %></td>
    <td><%= @product.product_code %></td>
    <td><%= @product.price %></td>
    <td><%= @product.in_stock %></td>
    <td>
      <%= image_tag @product.image, class: "materialboxed",
        data: {caption: @product.description}, size: "50x50" %>
    </td>
  </tr>
</table>
<%= link_to admin_products_path, class: "waves-effect waves-teal btn tooltipped",
    data: {tooltip: t(".back")} do %>
    <i class="material-icons">keyboard_backspace</i>
<% end %>
