<tr>
  <td class="center-align">
  <%= index_for user_counter, @users.current_page,
    params[:limit].to_i %>
  </td>
  <td class="center-align"><%= user.name %></td>
  <td class="center-align"><%= user.email %></td>
  <td class="center-align"><%= user.sign_in_count %></td>
  <td class="center-align"><%= l user.created_at, format: :date_format %></td>
  <td class="center-align">
    <% unless current_user == user %>
      <% if user.admin? %>
        <%= link_to admin_user_path(user, role: :user),
          class: "btn-flat waves-effect waves-teal tooltipped",
          data: {tooltip: I18n.t("change_user"), confirm: t(".sure")},
          method: :put do %>
          <i class="material-icons deep-orange-text">accessibility</i>
        <% end %>
      <% else %>
        <%= link_to admin_user_path(user, role: :admin),
          class: "btn-flat waves-effect waves-teal tooltipped",
          data: {tooltip: I18n.t("change_admin"), confirm: t(".sure")},
          method: :put do %>
          <i class="material-icons deep-orange-text">face</i>
        <% end %>
      <% end %>
        <%= link_to admin_user_path(user.id), method: :delete,
          class: "btn-flat waves-effect waves-teal tooltipped",
          id: user.id, data: {tooltip: I18n.t(".delete"),
          confirm: t(".sure_delete")}, remote: true do %>
          <i class="material-icons">delete</i>
        <% end %>
    <% end %>
  </td>
</tr>
