<% provide :title, t(".all_products") %>
<%= search_form_for @q, url: products_path do |f| %>
  <div class="row">
    <div class="col sm12 m8">
      <%= f.label :name_cont, t(".name") %>
      <%= f.text_field :name_cont %>
    </div>
    <div class="col sm12 m2">
      <%= f.label :price_gteq, t(".from") %>
      <%= f.number_field :price_gteq, min: 0 %>
    </div>
    <div class="col sm12 m2">
      <%= f.label :price_lteq, t(".to") %>
      <%= f.number_field :price_lteq, min: 0 %>
    </div>
      <%= f.submit t(".search"), class: "btn" %>
  </div>
<% end %>
<div class="row" id="list">
  <h1><%= t ".all_products" %></h1>
  <%= render @products %>
</div>
<%= paginate @products %>
<div class="row">
  <h2><%= t ".recent_view" %></h2>
  <% if @recent_products.present? %>
    <%= render @recent_products %>
  <% end %>
</div>
