<% provide :title, t(".all_products") %>
<div class="carousel">
  <div class="carousel-item" href="#one!">
    <%= image_tag "chuc-mung-nam-moi-2017(2)__64035_zoom.jpg", class: "materialboxed" %>
  </div>
  <div class="carousel-item" href="#two!">
    <%= image_tag "gio-qua-dep-ngay-tet.jpg", class: "materialboxed" %>
  </div>
  <div class="carousel-item" href="#three!">
    <%= image_tag "huong_dan_cach_goi_gio_qua_tet_8.jpg", class: "materialboxed" %>
  </div>
  <div class="carousel-item" href="#four!">
    <%= image_tag "gioqua5.jpg", class: "materialboxed" %>
  </div>
  <div class="carousel-item" href="#five!">
    <%= image_tag "anh-chuc-tet-2017-4.jpg", class: "materialboxed" %>
  </div>
  <div class="carousel-fixed-item center">
    <h2><%= t "pages.home.content" %></h2>
  </div>
</div>
<div class="divider"></div>
<div class="row">
  <h2 class="title">
    <%= t ".newest_giftbox" %>
  </h2>
  <%= render @newest_products %>
</div>
<div class="divider"></div>
<div class="row">
  <h2 class="title">
    <%= t ".hot_trends" %>
  </h2>
  <%= render @hot_trend_products %>
</div>
<div class="row">
  <h2><%= t ".recent_view" %></h2>
  <% if @recent_products.present? %>
    <%= render @recent_products %>
  <% end %>
</div>
