<ul id="dropdown1" class="dropdown-content dropdown-language locale">
  <li class="dropdown-li center <%= active_class_locale :en %>">
    <%= link_to locale: :en do %>
      <span class = "flag-icon flag-icon-us wide"></span>
      <%= t "eng" %>
    <% end %>
  </li>
  <li class="dropdown-li center <%= active_class_locale :vn %>">
    <%= link_to locale: :vn do %>
      <span class = "flag-icon flag-icon-vn wide"></span>
      <%= t "viet" %>
    <% end %>
  </li>
  <li class="dropdown-li center <%= active_class_locale :jp %>">
    <%= link_to locale: :jp do %>
      <span class = "flag-icon flag-icon-jp wide"></span>
      <%= t "jap" %>
    <% end %>
  </li>
</ul>
<header>
  <nav class="nav-admin">
    <div class="nav-wrapper">
      <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only">
        <i class="mdi-navigation-menu"></i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="<%= edit_user_registration_path %>" class="tooltipped"
            data-position="left" data-delay="50" data-tooltip="<%= t ".edit" %>">
            <i class="material-icons">settings</i>
          </a>
        </li>
        <li class="tab-nav">
          <a class="dropdown-button tooltipped"
            data-position="bottom" data-activates="dropdown1"
            data-tooltip="<%= t "language" %>">
            <i class="material-icons right">language</i>
          </a>
        </li>
        <li>
          <a href="<%= destroy_user_session_path %>" class="tooltipped"
            data-position="left" data-delay="50" data-tooltip="<%= t ".logout" %>"
            data-method="delete">
            <i class="material-icons">exit_to_app</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col m3">
  <ul id="nav-mobile" class="side-nav custom-side-nav fixed">
    <li class="grey darken-4 user-li">
      <div class="user">
        <div class="chip grey darken-3 white-text">
          <% if current_user.avatar.present? %>
            <%= image_tag current_user.avatar, class: "circle" %>
          <% else %>
            <%= image_tag "default_avatar.png", class: "circle" %>
          <% end %>
          <span><%= t "welcome" %>, <%= current_user.name %>!</span>
        </div>
      </div>
    </li>
    <li>
      <a class="waves-effect waves-grey <%= active_class_admin admin_root_path %>"
        href="<%= admin_root_path %>">
        <i class="material-icons <%= active_icon_admin admin_root_path %>">airplay</i>
        <span><%= t".dashboard" %></span>
      </a>
    </li>
    <li>
      <a class="waves-effect waves-grey <%= active_class_admin admin_orders_path %>"
        href="<%= admin_orders_path %>">
        <i class="material-icons <%= active_icon_admin admin_orders_path %>">assignment</i>
        <span><%= t".order" %></span>
      </a>
    </li>
    <li>
      <%= link_to admin_categories_path,
        class: "waves-effect waves-grey #{active_class_admin admin_categories_path}" do %>
        <i class="material-icons <%= active_icon_admin admin_categories_path %>">
          list
        </i>
        <%= t".categories" %>
      <% end %>
    </li>
    <li>
      <a href="<%= admin_products_path %>"
         class="waves-effect waves-grey <%= active_class_admin admin_products_path %>">
        <i class="material-icons <%= active_icon_admin admin_products_path %>">
          card_giftcard
        </i>
        <%= t".product" %>
      </a>
    </li>
    <li>
      <%= link_to admin_users_path,
        class: "waves-effect waves-grey #{active_class_admin admin_users_path}" do %>
        <i class="material-icons <%= active_icon_admin admin_users_path %>">
          account_circle
        </i>
        <%= t".users" %>
      <% end %>
    </li>
    <li>
      <%= link_to admin_suggests_path,
        class: "waves-effect waves-grey #{active_class_admin admin_suggests_path}" do %>
        <i class="material-icons <%= active_icon_admin admin_suggests_path %>">
          add_alert
        </i>
        <%= t".suggest" %>
      <% end %>
    </li>
  </ul>
  </div>
</header>
