<ul id="dropdown1" class="dropdown-content dropdown-language locale">
  <li class="dropdown-li center <%= active_class_locale :en %>">
    <%= link_to locale: :en do %>
      <span class = "flag-icon flag-icon-us wide"></span>
      <%= t "eng" %>
    <% end %>
  </li>
  <li class="dropdown-li center <%= active_class_locale :vn %>">
    <%= link_to locale: :vn do %>
      <span class = "flag-icon flag-icon-vn wide"></span>
      <%= t "viet" %>
    <% end %>
  </li>
  <li class="dropdown-li center <%= active_class_locale :jp %>">
    <%= link_to locale: :jp do %>
      <span class = "flag-icon flag-icon-jp wide"></span>
      <%= t "jap" %>
    <% end %>
  </li>
</ul>
<nav>
  <div class="nav-wrapper">
    <%= link_to image_tag("petgiftbox-logo-1.png", id: "logo",
      class: "responsive-img hide-on-med-and-down"),
      root_path, class: "brand-logo" %>
    <ul class="right hide-on-med-and-down">
      <li class="tab-nav <%= active_class root_url %>">
        <a href="<%= root_url %>"><%= t "pages.home.title" %></a>
      </li>
      <li class="tab-nav <%= active_class "/#{I18n.locale}/pages/help" %>">
        <a href="<%= "/#{I18n.locale}/pages/help" %>">
          <%= t "pages.help.title" %>
        </a>
      </li>
      <li class="tab-nav">
        <a class="dropdown-button" data-beloworigin="true" data-activates="dropdown-nav">
          <%= t ".categories" %> <i class="material-icons right">arrow_drop_down</i>
        </a>
        <%= raw load_categories_menu %>
      </li>
      <% if user_signed_in? %>
        <li>
          <a class="dropdown-button" data-activates="dropdown"
            data-beloworigin="true">
            <%= current_user.email %>
          </a>
        </li>
        <ul id="dropdown" class="dropdown-content collection">
          <li class="collection-item avatar">
            <% if current_user.avatar.present? %>
              <%= image_tag current_user.avatar, class: "circle" %>
            <% else %>
              <%= image_tag "default_avatar.png", class: "circle" %>
            <% end %>
            <%= link_to (t"profile"), edit_user_registration_path %>
            <div class="divider"></div>
            <%= link_to (t "suggest"), suggests_path %>
            <div class="divider"></div>
            <%= link_to (t ".order_history"), orders_path %>
            <div class="divider"></div>
            <%= link_to (t "signout"), destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      <% else %>
        <li>
          <%= link_to t("devise.sessions.new.login"), new_user_session_path %>
        </li>
      <% end %>
      <li>
        <a class="dropdown-button" id="shopping-cart" data-activates="dropdown2"
          data-beloworigin="true">
          <i class="material-icons">shopping_cart</i>
          <span class="badge circle white-text number-cart">
            <%= session[:cart].nil? ? 0 : session[:cart].size %>
          </span>
        </a>
      </li>
      <ul id="dropdown2" class="dropdown-content drop-cart">
        <%= render partial: "cart/cart_item", locals: {cart: session[:cart]} %>
      </ul>
      <li class="tab-nav">
        <a class="dropdown-button" data-activates="dropdown1">
          <i class="material-icons right">language</i>
        </a>
      </li>
    </ul>
  </div>
</nav>
